body{
    margin:0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.content{
    background:white;
    width:850px;
    padding:55px;
    border-radius:22px;
    text-align:center;
    box-shadow:0 12px 30px rgba(0,0,0,0.25);
}

.content h1{
    color:#1e3c72;
    font-size:48px;
}

.content h3{
    color:#2a5298;
}

.content p{
    color:#555;
    font-size:18px;
}

.buttons button{
    background:#1e3c72;
    color:white;
    border:none;
    padding:14px 28px;
    margin:15px 10px;
    border-radius:10px;
    font-size:17px;
    cursor:pointer;
    transition:0.3s;
}

.buttons button:hover{
    background:#2a5298;
    transform:translateY(-3px);
}
.buttons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.features{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-top:35px;
}

.card{
    background:#f4f7fb;
    width:190px;
    padding:22px;
    border-radius:14px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

.card h3{
    color:#1e3c72;
}

.card p{
    font-size:14px;
}

.footer{
    margin-top:30px;
    padding-top:15px;
    border-top:1px solid #ddd;
    color:#666;
    font-size:14px;
}
